aws_region      = "eu-west-2"
project_name    = "dispatcher-v2"
container_image = "123456789012.dkr.ecr.eu-west-2.amazonaws.com/dispatcher-v2-prod-dispatcher:latest"
github_app_id   = "123456"

create_managed_secrets = true

# Optional if you want Lambda handlers to use a different image than container_image.
# lambda_image_uri = "123456789012.dkr.ecr.eu-west-2.amazonaws.com/dispatcher-v2-prod-dispatcher:stable"
